<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings><name>Joe</name><audio><musicVolume>41.361256</musicVolume><effectsVolume>75.0</effectsVolume></audio><showTutorial>true</showTutorial><servers><server><name>Default server</name><ip>sc.mtahost.co</ip><port>1234</port></server></servers></settings>