<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings><name>7</name><audio><musicVolume>0.0</musicVolume><effectsVolume>75.0</effectsVolume></audio><showTutorial>true</showTutorial><servers><server><name>Default server</name><ip>localhost</ip><port>1234</port></server></servers></settings>