<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings><name>AlexR</name><audio><musicVolume>0.0</musicVolume><effectsVolume>38.94737</effectsVolume></audio><showTutorial>true</showTutorial><servers><server><name>Default server</name><ip>10.1.0.18</ip><port>1234</port></server></servers></settings>